
<!DOCTYPE html>
<html>
  <head>
    <title>THE LIFE OF PANCAKE</title>
    <link rel="shortcut icon" href="img/favicon.ico">
  

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <img src="img/thelifeofpancakes.gif">
    </div>
  </body>
</html>
