
<!DOCTYPE html>
<html>
  <head>
    <title>THE LIFE OF PANCAKE</title>
    <link rel="shortcut icon" href="img/favicon.ico">
  

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  </head>
  <body>
    <img src="img/thelifeofpancakes.gif">
    <img style="width: 250px; height: auto; left:-350px; bottom: -300px;"src="img/kanyedance.gif">

    <audio autoplay="autoplay" controls>
      <source src="audio/Kanye West - Wolves (8 Bit Remix).mp3" type="audio/mp3">
    </audio>
  </body>
</html>
